.page2 svg {
  /* visibility: hidden; */
  position: absolute;
}

.content-box {
  position: relative;
}
.stars, .moon {
  transform: scale(0.31);
  transition: all 1s;
}
.text {
  transform: scale(0.31) translateY(50%);
}
.GroundBack, .GroundFront, .TreeGroup1, .TreeGroup2, .snowman {
  transform: scale(0.31) translateY(170%);
}
#snow_bottom,
#left_arm,
#right_arm,
#scarf,
#ears,
#moon,
#nose {
  opacity: 0;
}
g#stars > polygon,
g#snowman > path,
g#snowman > polygon,
g#snowman > circle,
g#snowman > ellipse {
  opacity: 0;
}
#bottom_buttons > path {
  opacity: 0;
}
#face > path,
#face > ellipse {
  opacity: 0;
}
g#TreeGroup1 > path,
g#TreeGroup1 > polygon,
g#TreeGroup1 > g > path,
g#TreeGroup1 > g > polygon {
  opacity: 0;
}
g#TreeGroup2 > path,
g#TreeGroup2 > polygon {
  opacity: 0;
}
g#text > path,
g#text > g > path {
  opacity: 0;
}
g#T > path {
  opacity: 0;
}


.last-text {
  width: 90%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 111111;
  color: #fefefe;
  margin: 0 auto;
}
.last-text .last-content {
  display: inline;
}
.last-text .dash {
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: #3498db;
  animation: blink 0.5s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}